.top-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* Used when rendering Pandas DataFrame on metrics page. */
#availTable th {
  text-align: center !important;
}

#availTable td {
  text-align: center;
  vertical-align: middle;
}