{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Metrics Dashboard</title>
  <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/plotly-latest.min.js' %}"></script>
</head>
<body class="container mt-5">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mx-auto">Metrics Dashboard</h2>
    <div class="top-controls">
      <button id="nav-home" class="btn btn-primary" onclick="location.href='/'">Home</button>
    </div>
  </div>

  <!-- Device Metrics Table -->
  <div class="mb-4" style="height: 33vh; overflow-y:scroll;">
    {{ table|safe }} <!-- Populated from Django-->
  </div>

  <!-- System Overall Health Report -->
  <div style="height: 33vh; overflow:auto;">
    {{ system_chart|safe }} <!-- Populated from Django-->
  </div>

</body>
</html>
